#image{
    width: 100px;
}
#userbox{
    box-shadow: 0 1rem 2rem #001e2a;
    background-attachment: fixed;
}
#img-wd{
    width: 80px;
    height:80px;
}
#main-body{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}

