#userbox{
    box-shadow: 0 1rem 2rem #001e2a;
  
}
#imw-wd{
    width: 40px;
    height: 40px;
}
#prof{
    font-family: 'Nunito', sans-serif;

}
#prof h6{
    font-weight: 700;
}
#prof p{
    font-weight: 500;
    
}
.articlesection{
 
    color: black;
    
}